* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.home-page header nav {
    width: 100%;
    padding: 0 10px;
}

.home-page main section {
    display: flex;
    text-align: center;
    margin-top: 64px;
}

.link-login{
    display: none;
    font-size: 18px;
}

@media(max-width: 992px){

    .home-page main section {
        width: 100%;
        margin-top: 0px;
    }
    .home-page header nav .brand-logo {
        font-size: 14px;
        left: 31%;
        padding-right: 100px;
    }
    
    .hide-on-med-and-down{
        display: block !important;
    }
}